<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Among Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem velit et voluptatibus eaque, quam consectetur officia, mollitia rerum ipsum, veritatis earum incidunt assumenda nesciunt laborum non consequatur. Repellat, voluptatibus ut?</p>
</body>
</html>